# Ignore specific large files
scripts/tsne_data.pkl
model/flower_classifier.pth
deep_lerning/notebook/mnist_ann_model.pth
scripts/models/flower_resnet18.pth
scripts/models/flower_resnet18_best.pth
scripts/plots/tsne_embedding.csv

# Ignore entire directory
vosk-model-small-en-us-0.15/

# Optional: ignore Python cache
__pycache__/
# Ignore specific model file
scripts/models/flower_resnet18_best.pth

scripts/models/best_flower_model.pth

reserch/models